<h1>Users index page</h1>
<hr/>
<% @users.each do |user|%>
  <div>
    <%= user.email %>
  </div>
<% end %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>